In [1]:
import requests
import pandas as pd
import numpy as np
import os
import time
import ast

In [2]:
API_KEY = 'f427042051ae4664af0f55e30163e746'
base_url = 'https://api.rawg.io/api/'

In [3]:
page_size = 150

In [4]:
checkpoint_file = 'checkpoint.txt'

## Fetching the Data from the API

### Game Details

In [5]:
def fetch_game_data(page_number):
    all_games_data = []
    next_page = f'{base_url}games?key={API_KEY}&page_size={page_size}&page={page_number}'

    while next_page:
        try:
            response = requests.get(next_page)
            if response.status_code == 200:
                games_info = response.json()
                games_list = games_info['results']

                for game in games_list:
                    # Process game data as needed
                    all_games_data.append(game)

                # Update next_page for pagination
                next_page = games_info.get('next')  # Use .get() method to avoid potential KeyError

                # Save checkpoint
                with open(checkpoint_file, 'w') as file:
                    file.write(str(page_number))
            else:
                print(f"Failed to fetch data. Status code: {response.status_code}")
                break
        except requests.exceptions.RequestException as e:
            print(f"Request Exception occurred: {str(e)}")
            # Retry after a delay
            time.sleep(1)
        except Exception as e:
            print(f"Exception occurred: {str(e)}")
            break

    return all_games_data

In [6]:
start_page = 1
if os.path.exists(checkpoint_file):
    with open(checkpoint_file, 'r') as file:
        start_page = int(file.read())

In [7]:
'''
data = fetch_game_data(start_page)

if data:
    games_df = pd.DataFrame(data)
'''

'\ndata = fetch_game_data(start_page)\n\nif data:\n    games_df = pd.DataFrame(data)\n'

In [8]:
pd.set_option('display.max_columns', None)

In [9]:
games_df = pd.read_csv('../Data/game_data.csv')
games_df = games_df.drop('Unnamed: 0', axis=1)
games_df

,id,slug,name,released,tba,background_image,rating,rating_top,ratings,ratings_count,reviews_text_count,added,added_by_status,metacritic,playtime,suggestions_count,updated,user_game,reviews_count,saturated_color,dominant_color,platforms,parent_platforms,genres,stores,clip,tags,esrb_rating,short_screenshots,community_rating
0,3498,grand-theft-auto-v,Grand Theft Auto V,2013-09-17,False,https://media.rawg.io/media/games/20a/20aa03a1...,4.47,5,"[{'id': 5, 'title': 'exceptional', 'count': 39...",6651,57,20382,"{'yet': 515, 'owned': 11714, 'beaten': 5756, '...",92.0,74,428,2023-12-19T22:49:41,NaN,6750,0f0f0f,0f0f0f,"[{'platform': {'id': 187, 'name': 'PlayStation...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 290375, 'store': {'id': 3, 'name': 'Pl...",NaN,"[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}","[{'id': -1, 'image': 'https://media.rawg.io/me...",NaN
1,3328,the-witcher-3-wild-hunt,The Witcher 3: Wild Hunt,2015-05-18,False,https://media.rawg.io/media/games/618/618c2031...,4.66,5,"[{'id': 5, 'title': 'exceptional', 'count': 50...",6379,70,19700,"{'yet': 1098, 'owned': 11369, 'beaten': 4695, ...",92.0,46,674,2023-12-19T12:28:35,NaN,6481,0f0f0f,0f0f0f,"[{'platform': {'id': 5, 'name': 'macOS', 'slug...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 354780, 'store': {'id': 5, 'name': 'GO...",NaN,"[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}","[{'id': -1, 'image': 'https://media.rawg.io/me...",NaN
2,4200,portal-2,Portal 2,2011-04-18,False,https://media.rawg.io/media/games/2ba/2bac0e87...,4.61,5,"[{'id': 5, 'title': 'exceptional', 'count': 39...",5533,34,18602,"{'yet': 607, 'owned': 11524, 'beaten': 5390, '...",95.0,11,547,2023-12-20T00:41:15,NaN,5585,0f0f0f,0f0f0f,"[{'platform': {'id': 16, 'name': 'PlayStation ...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 2, 'name': 'Shooter', 'slug': 'shooter...","[{'id': 465889, 'store': {'id': 2, 'name': 'Xb...",NaN,"[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","{'id': 2, 'name': 'Everyone 10+', 'slug': 'eve...","[{'id': -1, 'image': 'https://media.rawg.io/me...",NaN
3,4291,counter-strike-global-offensive,Counter-Strike: Global Offensive,2012-08-21,False,https://media.rawg.io/media/games/736/73619bd3...,3.57,4,"[{'id': 4, 'title': 'recommended', 'count': 16...",3398,26,16268,"{'yet': 257, 'owned': 12342, 'beaten': 1002, '...",81.0,65,587,2023-12-18T17:21:29,NaN,3433,0f0f0f,0f0f0f,"[{'platform': {'id': 4, 'name': 'PC', 'slug': ...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 4619, 'store': {'id': 3, 'name': 'Play...",NaN,"[{'id': 40847, 'name': 'Steam Achievements', '...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}","[{'id': -1, 'image': 'https://media.rawg.io/me...",NaN
4,5286,tomb-raider,Tomb Raider (2013),2013-03-05,False,https://media.rawg.io/media/games/021/021c4e21...,4.05,4,"[{'id': 4, 'title': 'recommended', 'count': 23...",3823,13,16162,"{'yet': 668, 'owned': 10471, 'beaten': 4132, '...",86.0,10,646,2023-12-19T19:23:37,NaN,3851,0f0f0f,0f0f0f,"[{'platform': {'id': 18, 'name': 'PlayStation ...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 33824, 'store': {'id': 7, 'name': 'Xbo...",NaN,"[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}","[{'id': -1, 'image': 'https://media.rawg.io/me...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159555,905411,hallways12345,Hallways12345,2023-01-02,False,https://media.rawg.io/media/screenshots/dbc/db...,0.00,0,[],0,0,0,NaN,NaN,0,23,2023-01-06T11:54:16,NaN,0,0f0f0f,0f0f0f,"[{'platform': {'id': 4, 'name': 'PC', 'slug': ...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...",[],"[{'id': 903606, 'store': {'id': 9, 'name': 'it...",NaN,"[{'id': 31, 'name': 'Singleplayer', 'slug': 's...",NaN,"[{'id': -1, 'image': 'https://media.rawg.io/me...",0.0
159556,905410,diari-demo,Diari Demo,2023-01-02,False,https://media.rawg.io/media/screenshots/608/60...,0.00,0,[],0,0,0,NaN,NaN,0,103,2023-01-06T11:54:00,NaN,0,0f0f0f,0f0f0f,"[{'platform': {'id': 4, 'name': 'PC', 'slug': ...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 3, 'name': 'Adventure', 'slug': 'adven...","[{'id': 903605, 'store': {'id': 9, 'name': 'it...",NaN,"[{'id': 31, 'name': 'Singleplayer', 'slug': 's...",NaN,"[{'id': -1, 'image': 'https://media.rawg.io/me...",0.0
159557,905409,tugas7-navigation-mesh,Tugas7 - Navigation Mesh,2023-01-02,False,https://media.rawg.io/media/screenshots/ed0/ed...,0.00,0,[],0,0,0,NaN,NaN,0,2,2023-01-06T11:53:31,NaN,0,0f0f0f,0f0f0f,"[{'platform': {'id': 171, 'name': 'Web', 'slug...","[{'platform': {'id': 14, 'name': 'Web', 'slug'...",[],"[{'id': 903604, 'store': {'id': 9, 'name': 'it...",NaN,[],NaN,"[{'id': -1, 'image': 'https://media.rawg.io/me...",0.0
159558,905408,a56liu-yi-xuan-fan-hang-httpsitchiosales,A56劉羿萱返航https://itch.io/sales,2023-01-02,False,https://media.rawg.io/media/screenshots/6d5/6d...,0.00,0,[],0,0,0,NaN,NaN,0,5,2023-01-06T11:53:15,NaN,0,0f0f0f,0f0f0f,"[{'platform': {'id': 171, 'name': 'Web', 'slug...","[{'platform': {'id': 14, 'name': 'Web', 'slug'...",[],"[{'id': 903603, 'store': {'id': 9, 'name': 'it...",NaN,[],NaN,"[{'id': -1, 'image': 'https://media.rawg.io/me...",0.0
159559,905407,b12chen-chang-yi-jing-xin-mou-xian,B12陳昌奕驚心冒險,2023-01-02,False,https://media.rawg.io/media/screenshots/0ff/0f...,0.00,0,[],0,0,0,NaN,NaN,0,21,2023-01-06T11:52:53,NaN,0,0f0f0f,0f0f0f,"[{'platform': {'id': 171, 'name': 'Web', 'slug...","[{'platform': {'id': 14, 'name': 'Web', 'slug'...",[],"[{'id': 903602, 'store': {'id': 9, 'name': 'it...",NaN,"[{'id': 45, 'name': '2D', 'slug': '2d', 'langu...",NaN,"[{'id': -1, 'image': 'https://media.rawg.io/me...",0.0

### Developers

In [10]:
def fetch_dev_data(page_number):
    all_devs_data = []
    next_page = f'{base_url}developers?key={API_KEY}&page_size={page_size}&page={page_number}'

    while next_page:
        try:
            response = requests.get(next_page)
            if response.status_code == 200:
                devs_info = response.json()
                devs_list = devs_info['results']

                for dev in devs_list:
                    # Process dev data as needed
                    all_devs_data.append(dev)

                # Update next_page for pagination
                next_page = devs_info.get('next')  # Use .get() method to avoid potential KeyError

                # Save checkpoint
                with open(checkpoint_file, 'w') as file:
                    file.write(str(page_number))
            else:
                print(f"Failed to fetch data. Status code: {response.status_code}")
                break
        except requests.exceptions.RequestException as e:
            print(f"Request Exception occurred: {str(e)}")
            # Retry after a delay
            time.sleep(1)
        except Exception as e:
            print(f"Exception occurred: {str(e)}")
            break

    return all_devs_data

In [11]:
start_page = 1
if os.path.exists(checkpoint_file):
    with open(checkpoint_file, 'r') as file:
        start_page = int(file.read())

In [12]:
'''
data = fetch_dev_data(start_page)

if data:
    devs_df = pd.DataFrame(data)
'''

'\ndata = fetch_dev_data(start_page)\n\nif data:\n    devs_df = pd.DataFrame(data)\n'

In [13]:
dev_df = pd.read_csv('../Data/dev_data.csv')
dev_df = dev_df.drop('Unnamed: 0', axis=1)
dev_df

,id,name,slug,games_count,image_background,games
0,405,Ubisoft,ubisoft,338,https://media.rawg.io/media/games/b22/b227810b...,"[{'id': 4161, 'slug': 'far-cry-3', 'name': 'Fa..."
1,1612,Valve Software,valve-software,43,https://media.rawg.io/media/screenshots/d33/d3...,"[{'id': 4200, 'slug': 'portal-2', 'name': 'Por..."
2,18893,Feral Interactive,feral-interactive,106,https://media.rawg.io/media/games/16b/16b1b7b3...,"[{'id': 7689, 'slug': 'rise-of-the-tomb-raider..."
3,3709,Ubisoft Montreal,ubisoft-montreal,122,https://media.rawg.io/media/games/0f3/0f38cdce...,"[{'id': 4161, 'slug': 'far-cry-3', 'name': 'Fa..."
4,109,Electronic Arts,electronic-arts,321,https://media.rawg.io/media/games/d2b/d2b33b26...,"[{'id': 4570, 'slug': 'dead-space', 'name': 'D..."
...,...,...,...,...,...,...
141955,335426,PapaSpoonRattler,papaspoonrattler,1,https://media.rawg.io/media/screenshots/ed1/ed...,"[{'id': 746518, 'slug': 'dreams-of-terror', 'n..."
141956,335425,AydenJM,aydenjm,3,https://media.rawg.io/media/screenshots/cef/ce...,"[{'id': 957320, 'slug': 'glube-the-destroyer',..."
141957,335424,ooop333,ooop333,2,https://media.rawg.io/media/screenshots/767/76...,"[{'id': 790980, 'slug': 'racket-sports', 'name..."
141958,335423,Ewo,ewo,2,https://media.rawg.io/media/screenshots/cef/ce...,"[{'id': 769001, 'slug': 'the-gamer-challenge-2..."
141959,335422,Quathryn,quathryn,1,https://media.rawg.io/media/screenshots/cef/ce...,"[{'id': 746517, 'slug': 'when-we-sleep', 'name..."

### Publisher

In [14]:
def fetch_pub_data(page_number):
    all_pub_data = []
    next_page = f'{base_url}publishers?key={API_KEY}&page_size={page_size}&page={page_number}'

    while next_page:
        try:
            response = requests.get(next_page)
            if response.status_code == 200:
                pub_info = response.json()
                pub_list = pub_info['results']

                for dev in pub_list:
                    # Process dev data as needed
                    all_pub_data.append(dev)

                # Update next_page for pagination
                next_page = pub_info.get('next')  # Use .get() method to avoid potential KeyError

                # Save checkpoint
                with open(checkpoint_file, 'w') as file:
                    file.write(str(page_number))
            else:
                print(f"Failed to fetch data. Status code: {response.status_code}")
                break
        except requests.exceptions.RequestException as e:
            print(f"Request Exception occurred: {str(e)}")
            # Retry after a delay
            time.sleep(1)
        except Exception as e:
            print(f"Exception occurred: {str(e)}")
            break

    return all_pub_data

In [15]:
start_page = 1
if os.path.exists(checkpoint_file):
    with open(checkpoint_file, 'r') as file:
        start_page = int(file.read())

In [16]:
'''
data = fetch_pub_data(start_page)

if data:
    pub_df = pd.DataFrame(data)
'''

'\ndata = fetch_pub_data(start_page)\n\nif data:\n    pub_df = pd.DataFrame(data)\n'

In [17]:
pub_df = pd.read_csv('../Data/pub_data.csv')
pub_df = pub_df.drop('Unnamed: 0', axis=1)
pub_df

,id,name,slug,games_count,image_background,games
0,354,Electronic Arts,electronic-arts,1315,https://media.rawg.io/media/games/3cf/3cff8999...,"[{'id': 4200, 'slug': 'portal-2', 'name': 'Por..."
1,308,Square Enix,square-enix,588,https://media.rawg.io/media/games/021/021c4e21...,"[{'id': 5286, 'slug': 'tomb-raider', 'name': '..."
2,20987,Microsoft Studios,microsoft-studios,497,https://media.rawg.io/media/games/0b3/0b34647c...,"[{'id': 1030, 'slug': 'limbo', 'name': 'Limbo'..."
3,918,Ubisoft Entertainment,ubisoft-entertainment,1064,https://media.rawg.io/media/games/b22/b227810b...,"[{'id': 4161, 'slug': 'far-cry-3', 'name': 'Fa..."
4,3408,SEGA,sega-2,1235,https://media.rawg.io/media/games/0bd/0bd5646a...,"[{'id': 10243, 'slug': 'company-of-heroes-2', ..."
...,...,...,...,...,...,...
69093,66612,WEALTHBIRD,wealthbird,1,https://media.rawg.io/media/screenshots/450/45...,"[{'id': 963593, 'slug': 'maska', 'name': 'MASK..."
69094,38061,Somchai Sompongpuang,somchai-sompongpuang,18,https://media.rawg.io/media/screenshots/e4f/e4...,[]
69095,38062,Willi Holzer,willi-holzer,2,https://media.rawg.io/media/screenshots/b02/b0...,[]
69096,28222,Tarik Canturk,tarik-canturk,1,https://media.rawg.io/media/screenshots/29b/29...,[]
69097,28898,Jai Gomer,jai-gomer,22,https://media.rawg.io/media/screenshots/228/22...,"[{'id': 256314, 'slug': 'loko-puzzle', 'name':..."

### Add in developers and publishers using the games columns from both data frames to the corresponding ids on the games_df data frame

Developer

In [18]:
dev_df['games'] = dev_df['games'].apply(ast.literal_eval)

In [19]:
game_dev_map = {}
for index, row in dev_df.iterrows():
    developers = row['games']
    for game in developers:
        game_id = game['id']
        if game_id not in game_dev_map:
            game_dev_map[game_id] = []
        game_dev_map[game_id].append(row['name'])

In [20]:
def get_developers(game_id):
    return game_dev_map.get(game_id, [])

In [21]:
games_df['developers'] = games_df['id'].apply(get_developers)

Publisher

In [22]:
pub_df['games'] = pub_df['games'].apply(ast.literal_eval)

In [23]:
game_pub_map = {}
for index, row in pub_df.iterrows():
    publishers = row['games']
    for game in publishers:
        game_id = game['id']
        if game_id not in game_pub_map:
            game_pub_map[game_id] = []
        game_pub_map[game_id].append(row['name'])

In [24]:
def get_publishers(game_id):
    return game_pub_map.get(game_id, [])

In [25]:
games_df['publishers'] = games_df['id'].apply(get_publishers)

In [26]:
games_df.head()

,id,slug,name,released,tba,background_image,rating,rating_top,ratings,ratings_count,reviews_text_count,added,added_by_status,metacritic,playtime,suggestions_count,updated,user_game,reviews_count,saturated_color,dominant_color,platforms,parent_platforms,genres,stores,clip,tags,esrb_rating,short_screenshots,community_rating,developers,publishers
0,3498,grand-theft-auto-v,Grand Theft Auto V,2013-09-17,False,https://media.rawg.io/media/games/20a/20aa03a1...,4.47,5,"[{'id': 5, 'title': 'exceptional', 'count': 39...",6651,57,20382,"{'yet': 515, 'owned': 11714, 'beaten': 5756, '...",92.0,74,428,2023-12-19T22:49:41,NaN,6750,0f0f0f,0f0f0f,"[{'platform': {'id': 187, 'name': 'PlayStation...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 290375, 'store': {'id': 3, 'name': 'Pl...",NaN,"[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}","[{'id': -1, 'image': 'https://media.rawg.io/me...",NaN,"[Rockstar Games, Rockstar North]",[Rockstar Games]
1,3328,the-witcher-3-wild-hunt,The Witcher 3: Wild Hunt,2015-05-18,False,https://media.rawg.io/media/games/618/618c2031...,4.66,5,"[{'id': 5, 'title': 'exceptional', 'count': 50...",6379,70,19700,"{'yet': 1098, 'owned': 11369, 'beaten': 4695, ...",92.0,46,674,2023-12-19T12:28:35,NaN,6481,0f0f0f,0f0f0f,"[{'platform': {'id': 5, 'name': 'macOS', 'slug...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 354780, 'store': {'id': 5, 'name': 'GO...",NaN,"[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}","[{'id': -1, 'image': 'https://media.rawg.io/me...",NaN,[CD PROJEKT RED],[CD PROJEKT RED]
2,4200,portal-2,Portal 2,2011-04-18,False,https://media.rawg.io/media/games/2ba/2bac0e87...,4.61,5,"[{'id': 5, 'title': 'exceptional', 'count': 39...",5533,34,18602,"{'yet': 607, 'owned': 11524, 'beaten': 5390, '...",95.0,11,547,2023-12-20T00:41:15,NaN,5585,0f0f0f,0f0f0f,"[{'platform': {'id': 16, 'name': 'PlayStation ...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 2, 'name': 'Shooter', 'slug': 'shooter...","[{'id': 465889, 'store': {'id': 2, 'name': 'Xb...",NaN,"[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","{'id': 2, 'name': 'Everyone 10+', 'slug': 'eve...","[{'id': -1, 'image': 'https://media.rawg.io/me...",NaN,[Valve Software],"[Electronic Arts, Valve]"
3,4291,counter-strike-global-offensive,Counter-Strike: Global Offensive,2012-08-21,False,https://media.rawg.io/media/games/736/73619bd3...,3.57,4,"[{'id': 4, 'title': 'recommended', 'count': 16...",3398,26,16268,"{'yet': 257, 'owned': 12342, 'beaten': 1002, '...",81.0,65,587,2023-12-18T17:21:29,NaN,3433,0f0f0f,0f0f0f,"[{'platform': {'id': 4, 'name': 'PC', 'slug': ...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 4619, 'store': {'id': 3, 'name': 'Play...",NaN,"[{'id': 40847, 'name': 'Steam Achievements', '...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}","[{'id': -1, 'image': 'https://media.rawg.io/me...",NaN,"[Valve Software, Hidden Path Entertainment]",[Valve]
4,5286,tomb-raider,Tomb Raider (2013),2013-03-05,False,https://media.rawg.io/media/games/021/021c4e21...,4.05,4,"[{'id': 4, 'title': 'recommended', 'count': 23...",3823,13,16162,"{'yet': 668, 'owned': 10471, 'beaten': 4132, '...",86.0,10,646,2023-12-19T19:23:37,NaN,3851,0f0f0f,0f0f0f,"[{'platform': {'id': 18, 'name': 'PlayStation ...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 33824, 'store': {'id': 7, 'name': 'Xbo...",NaN,"[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}","[{'id': -1, 'image': 'https://media.rawg.io/me...",NaN,[Crystal Dynamics],[Square Enix]

In [27]:
games_df.columns

Index(['id', 'slug', 'name', 'released', 'tba', 'background_image', 'rating',
       'rating_top', 'ratings', 'ratings_count', 'reviews_text_count', 'added',
       'added_by_status', 'metacritic', 'playtime', 'suggestions_count',
       'updated', 'user_game', 'reviews_count', 'saturated_color',
       'dominant_color', 'platforms', 'parent_platforms', 'genres', 'stores',
       'clip', 'tags', 'esrb_rating', 'short_screenshots', 'community_rating',
       'developers', 'publishers'],
      dtype='object')

In [28]:
columns_to_drop = ['tba', 'updated', 'user_game', 'saturated_color', 'dominant_color',
                    'clip', 'short_screenshots', 'community_rating']

games_df.drop(columns=columns_to_drop, inplace=True)

In [29]:
games_df

,id,slug,name,released,background_image,rating,rating_top,ratings,ratings_count,reviews_text_count,added,added_by_status,metacritic,playtime,suggestions_count,reviews_count,platforms,parent_platforms,genres,stores,tags,esrb_rating,developers,publishers
0,3498,grand-theft-auto-v,Grand Theft Auto V,2013-09-17,https://media.rawg.io/media/games/20a/20aa03a1...,4.47,5,"[{'id': 5, 'title': 'exceptional', 'count': 39...",6651,57,20382,"{'yet': 515, 'owned': 11714, 'beaten': 5756, '...",92.0,74,428,6750,"[{'platform': {'id': 187, 'name': 'PlayStation...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 290375, 'store': {'id': 3, 'name': 'Pl...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}","[Rockstar Games, Rockstar North]",[Rockstar Games]
1,3328,the-witcher-3-wild-hunt,The Witcher 3: Wild Hunt,2015-05-18,https://media.rawg.io/media/games/618/618c2031...,4.66,5,"[{'id': 5, 'title': 'exceptional', 'count': 50...",6379,70,19700,"{'yet': 1098, 'owned': 11369, 'beaten': 4695, ...",92.0,46,674,6481,"[{'platform': {'id': 5, 'name': 'macOS', 'slug...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 354780, 'store': {'id': 5, 'name': 'GO...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}",[CD PROJEKT RED],[CD PROJEKT RED]
2,4200,portal-2,Portal 2,2011-04-18,https://media.rawg.io/media/games/2ba/2bac0e87...,4.61,5,"[{'id': 5, 'title': 'exceptional', 'count': 39...",5533,34,18602,"{'yet': 607, 'owned': 11524, 'beaten': 5390, '...",95.0,11,547,5585,"[{'platform': {'id': 16, 'name': 'PlayStation ...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 2, 'name': 'Shooter', 'slug': 'shooter...","[{'id': 465889, 'store': {'id': 2, 'name': 'Xb...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","{'id': 2, 'name': 'Everyone 10+', 'slug': 'eve...",[Valve Software],"[Electronic Arts, Valve]"
3,4291,counter-strike-global-offensive,Counter-Strike: Global Offensive,2012-08-21,https://media.rawg.io/media/games/736/73619bd3...,3.57,4,"[{'id': 4, 'title': 'recommended', 'count': 16...",3398,26,16268,"{'yet': 257, 'owned': 12342, 'beaten': 1002, '...",81.0,65,587,3433,"[{'platform': {'id': 4, 'name': 'PC', 'slug': ...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 4619, 'store': {'id': 3, 'name': 'Play...","[{'id': 40847, 'name': 'Steam Achievements', '...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}","[Valve Software, Hidden Path Entertainment]",[Valve]
4,5286,tomb-raider,Tomb Raider (2013),2013-03-05,https://media.rawg.io/media/games/021/021c4e21...,4.05,4,"[{'id': 4, 'title': 'recommended', 'count': 23...",3823,13,16162,"{'yet': 668, 'owned': 10471, 'beaten': 4132, '...",86.0,10,646,3851,"[{'platform': {'id': 18, 'name': 'PlayStation ...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 33824, 'store': {'id': 7, 'name': 'Xbo...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}",[Crystal Dynamics],[Square Enix]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159555,905411,hallways12345,Hallways12345,2023-01-02,https://media.rawg.io/media/screenshots/dbc/db...,0.00,0,[],0,0,0,NaN,NaN,0,23,0,"[{'platform': {'id': 4, 'name': 'PC', 'slug': ...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...",[],"[{'id': 903606, 'store': {'id': 9, 'name': 'it...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...",NaN,[stathis0074],[]
159556,905410,diari-demo,Diari Demo,2023-01-02,https://media.rawg.io/media/screenshots/608/60...,0.00,0,[],0,0,0,NaN,NaN,0,103,0,"[{'platform': {'id': 4, 'name': 'PC', 'slug': ...","[{'platform': {'id': 1, 'name': 'PC', 'slug': ...","[{'id': 3, 'name': 'Adventure', 'slug': 'adven...","[{'id': 903605, 'store': {'id': 9, 'name': 'it...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...",NaN,[Lunziestella],[]
159557,905409,tugas7-navigation-mesh,Tugas7 - Navigation Mesh,2023-01-02,https://media.rawg.io/media/screenshots/ed0/ed...,0.00,0,[],0,0,0,NaN,NaN,0,2,0,"[{'platform': {'id': 171, 'name': 'Web', 'slug...","[{'platform': {'id': 14, 'name': 'Web', 'slug'...",[],"[{'id': 903604, 'store': {'id': 9, 'name': 'it...",[],NaN,[Achmad Wildan],[]
159558,905408,a56liu-yi-xuan-fan-hang-httpsitchiosales,A56劉羿萱返航https://itch.io/sales,2023-01-02,https://media.rawg.io/media/screenshots/6d5/6d...,0.00,0,[],0,0,0,NaN,NaN,0,5,0,"[{'platform': {'id': 171, 'name': 'Web', 'slug...","[{'platform': {'id': 14, 'name': 'Web', 'slug'...",[],"[{'id': 903603, 'store': {'id': 9, 'name': 'it...",[],NaN,[xuan2003],[]
159559,905407,b12chen-chang-yi-jing-xin-mou-xian,B12陳昌奕驚心冒險,2023-01-02,https://media.rawg.io/media/screenshots/0ff/0f...,0.00,0,[],0,0,0,NaN,NaN,0,21,0,"[{'platform': {'id': 171, 'name': 'Web', 'slug...","[{'platform': {'id': 14, 'name': 'Web', 'slug'...",[],"[{'id': 903602, 'store': {'id': 9, 'name': 'it...","[{'id': 45, 'name': '2D', 'slug': '2d', 'langu...",NaN,[TCYi],[]

## Normalizing the Data

In [30]:
# Subsetting the data

# General
games_data = games_df[['id', 'slug', 'name', 'released', 'playtime', 'metacritic', 'esrb_rating', 'background_image']]

# Ratings
ratings_data = games_df[['rating', 'rating_top', 'ratings_count', 'reviews_count', 'reviews_text_count', 'suggestions_count']]
ratings_score_data = games_df[['ratings']]

# Collection/Library
collection_data = games_df[['added']]
collection_status_data = games_df[['added_by_status']]

# Platform
parent_platforms_data = games_df[['parent_platforms']]
platforms_data = games_df[['platforms']]

# Store
stores_data = games_df[['stores']]

# Genre
genres_data = games_df[['genres']]

# Tag
tags_data = games_df[['tags']]

# Developer
developers_data = games_df[['developers']]

# Publisher
publishers_data = games_df[['publishers']]

## Data Preparation

#### games_data

In [31]:
games_data.head()

,id,slug,name,released,playtime,metacritic,esrb_rating,background_image
0,3498,grand-theft-auto-v,Grand Theft Auto V,2013-09-17,74,92.0,"{'id': 4, 'name': 'Mature', 'slug': 'mature'}",https://media.rawg.io/media/games/20a/20aa03a1...
1,3328,the-witcher-3-wild-hunt,The Witcher 3: Wild Hunt,2015-05-18,46,92.0,"{'id': 4, 'name': 'Mature', 'slug': 'mature'}",https://media.rawg.io/media/games/618/618c2031...
2,4200,portal-2,Portal 2,2011-04-18,11,95.0,"{'id': 2, 'name': 'Everyone 10+', 'slug': 'eve...",https://media.rawg.io/media/games/2ba/2bac0e87...
3,4291,counter-strike-global-offensive,Counter-Strike: Global Offensive,2012-08-21,65,81.0,"{'id': 4, 'name': 'Mature', 'slug': 'mature'}",https://media.rawg.io/media/games/736/73619bd3...
4,5286,tomb-raider,Tomb Raider (2013),2013-03-05,10,86.0,"{'id': 4, 'name': 'Mature', 'slug': 'mature'}",https://media.rawg.io/media/games/021/021c4e21...

Adjust the esrb_rating column to filter the name.

In [32]:
games_data = games_data.copy()

In [33]:
games_data.loc[:, 'esrb_rating'] = games_data['esrb_rating'].apply(lambda x: ast.literal_eval(x)['name'] if pd.notnull(x) else np.nan)

In [34]:
games_data.head()

,id,slug,name,released,playtime,metacritic,esrb_rating,background_image
0,3498,grand-theft-auto-v,Grand Theft Auto V,2013-09-17,74,92.0,Mature,https://media.rawg.io/media/games/20a/20aa03a1...
1,3328,the-witcher-3-wild-hunt,The Witcher 3: Wild Hunt,2015-05-18,46,92.0,Mature,https://media.rawg.io/media/games/618/618c2031...
2,4200,portal-2,Portal 2,2011-04-18,11,95.0,Everyone 10+,https://media.rawg.io/media/games/2ba/2bac0e87...
3,4291,counter-strike-global-offensive,Counter-Strike: Global Offensive,2012-08-21,65,81.0,Mature,https://media.rawg.io/media/games/736/73619bd3...
4,5286,tomb-raider,Tomb Raider (2013),2013-03-05,10,86.0,Mature,https://media.rawg.io/media/games/021/021c4e21...

#### ratings_data

In [35]:
ratings_data.head()

,rating,rating_top,ratings_count,reviews_count,reviews_text_count,suggestions_count
0,4.47,5,6651,6750,57,428
1,4.66,5,6379,6481,70,674
2,4.61,5,5533,5585,34,547
3,3.57,4,3398,3433,26,587
4,4.05,4,3823,3851,13,646

Keep it as is since there is nothing that needs to be adjusted.

#### ratings_score_data

In [36]:
ratings_score_data.head()

                                             ratings
0  [{'id': 5, 'title': 'exceptional', 'count': 39...
1  [{'id': 5, 'title': 'exceptional', 'count': 50...
2  [{'id': 5, 'title': 'exceptional', 'count': 39...
3  [{'id': 4, 'title': 'recommended', 'count': 16...
4  [{'id': 4, 'title': 'recommended', 'count': 23...

Adjust the ratings column to make new columns which corresponds to its title and the values for it are the count.

In [37]:
ratings_score_data = ratings_score_data.copy()

In [38]:
ratings_score_data['ratings'] = ratings_score_data['ratings'].apply(ast.literal_eval)

In [39]:
def RSD_extract_count_by_title(ratings):
    title_count = {}
    for item in ratings:
        title_count[item['title']] = item['count']
    return pd.Series(title_count)

In [40]:
new_RSD_columns = ratings_score_data['ratings'].apply(RSD_extract_count_by_title)

In [41]:
ratings_score_data = pd.concat([ratings_score_data, new_RSD_columns], axis=1)

In [42]:
ratings_score_data = ratings_score_data.drop(columns=['ratings'])

In [43]:
ratings_score_data.head()

   exceptional  recommended    meh   skip
0       3991.0       2206.0  429.0  124.0
1       5002.0       1045.0  273.0  161.0
2       3926.0       1388.0  150.0  121.0
3        552.0       1604.0  894.0  383.0
4        978.0       2333.0  422.0  118.0

#### collection_data

In [44]:
collection_data.head()

   added
0  20382
1  19700
2  18602
3  16268
4  16162

Keep it as is.

#### collection_status_data

In [45]:
collection_status_data.head()

                                     added_by_status
0  {'yet': 515, 'owned': 11714, 'beaten': 5756, '...
1  {'yet': 1098, 'owned': 11369, 'beaten': 4695, ...
2  {'yet': 607, 'owned': 11524, 'beaten': 5390, '...
3  {'yet': 257, 'owned': 12342, 'beaten': 1002, '...
4  {'yet': 668, 'owned': 10471, 'beaten': 4132, '...

Adjust this data frame similar to the ratings data frame.

In [46]:
collection_status_data = collection_status_data.copy()

In [47]:
collection_status_data['added_by_status'] = collection_status_data['added_by_status'].apply(
    lambda x: ast.literal_eval(x) if pd.notnull(x) else {})

In [48]:
keys = set().union(*(d.keys() for d in collection_status_data['added_by_status']))

In [49]:
for key in keys:
    collection_status_data.loc[:, key] = collection_status_data['added_by_status'].apply(lambda x: x.get(key, 0))

In [50]:
collection_status_data.drop('added_by_status', axis=1, inplace=True)

In [51]:
collection_status_data.head()

   beaten  dropped  toplay  owned   yet  playing
0    5756     1075     604  11714   515      718
1    4695      915     758  11369  1098      865
2    5390      573     363  11524   607      145
3    1002     1961      76  12342   257      630
4    4132      528     257  10471   668      106

#### parent_platforms_data

In [52]:
parent_platforms_data.head()

                                    parent_platforms
0  [{'platform': {'id': 1, 'name': 'PC', 'slug': ...
1  [{'platform': {'id': 1, 'name': 'PC', 'slug': ...
2  [{'platform': {'id': 1, 'name': 'PC', 'slug': ...
3  [{'platform': {'id': 1, 'name': 'PC', 'slug': ...
4  [{'platform': {'id': 1, 'name': 'PC', 'slug': ...

Adjust the column to only filter the names of the specific parent platform.

In [53]:
parent_platforms_data = parent_platforms_data.copy()

In [54]:
def PPD_extract_names(row):
    platforms_list = ast.literal_eval(row)
    names = [platform['platform']['name'] for platform in platforms_list]
    return ', '.join(names) if names else None

In [55]:
parent_platforms_data['platforms_new'] = parent_platforms_data['parent_platforms'].apply(PPD_extract_names)

In [56]:
parent_platforms_data.drop('parent_platforms', axis=1, inplace=True)
parent_platforms_data.rename(columns={'platforms_new': 'parent_platforms'}, inplace=True)

In [57]:
parent_platforms_data.head()

                                   parent_platforms
0                             PC, PlayStation, Xbox
1  PC, PlayStation, Xbox, Apple Macintosh, Nintendo
2     PC, PlayStation, Xbox, Apple Macintosh, Linux
3                             PC, PlayStation, Xbox
4            PC, PlayStation, Xbox, Apple Macintosh

#### platform_data

In [58]:
platforms_data.head()

                                           platforms
0  [{'platform': {'id': 187, 'name': 'PlayStation...
1  [{'platform': {'id': 5, 'name': 'macOS', 'slug...
2  [{'platform': {'id': 16, 'name': 'PlayStation ...
3  [{'platform': {'id': 4, 'name': 'PC', 'slug': ...
4  [{'platform': {'id': 18, 'name': 'PlayStation ...

Same as parent plaform filtering.

In [59]:
platforms_data = platforms_data.copy()

In [60]:
def PD_extract_names(row):
    platforms_list = ast.literal_eval(row)
    names = [platform['platform']['name'] for platform in platforms_list]
    return ', '.join(names) if names else None

In [61]:
platforms_data['platforms_new'] = platforms_data['platforms'].apply(PD_extract_names)

In [62]:
platforms_data.drop('platforms', axis=1, inplace=True)
platforms_data.rename(columns={'platforms_new': 'platforms'}, inplace=True)

In [63]:
platforms_data.head()

                                           platforms
0  PlayStation 5, Xbox Series S/X, PC, PlayStatio...
1  macOS, PlayStation 4, Nintendo Switch, PC, Xbo...
2  PlayStation 3, PC, Xbox 360, Linux, macOS, Xbo...
3                        PC, Xbox 360, PlayStation 3
4  PlayStation 4, macOS, PC, Xbox One, Xbox 360, ...

#### stores_data

In [64]:
stores_data.head()

                                              stores
0  [{'id': 290375, 'store': {'id': 3, 'name': 'Pl...
1  [{'id': 354780, 'store': {'id': 5, 'name': 'GO...
2  [{'id': 465889, 'store': {'id': 2, 'name': 'Xb...
3  [{'id': 4619, 'store': {'id': 3, 'name': 'Play...
4  [{'id': 33824, 'store': {'id': 7, 'name': 'Xbo...

Adjust to filter only names of the stores.

In [65]:
stores_data = stores_data.copy()

In [66]:
def SD_extract_names(row):
    stores_list = ast.literal_eval(row)
    names = [store['store']['name'] for store in stores_list]
    return ', '.join(names) if names else None

In [67]:
stores_data['stores_new'] = stores_data['stores'].apply(SD_extract_names)

In [68]:
stores_data.drop('stores', axis=1, inplace=True)
stores_data.rename(columns={'stores_new': 'stores'}, inplace=True)

In [69]:
stores_data.head()

                                              stores
0  PlayStation Store, Epic Games, Steam, Xbox 360...
1  GOG, PlayStation Store, Steam, Xbox Store, Nin...
2  Xbox Store, Steam, PlayStation Store, Xbox 360...
3           PlayStation Store, Steam, Xbox 360 Store
4  Xbox 360 Store, Steam, PlayStation Store, Goog...

#### genres_data

In [70]:
genres_data.head()

                                              genres
0  [{'id': 4, 'name': 'Action', 'slug': 'action',...
1  [{'id': 4, 'name': 'Action', 'slug': 'action',...
2  [{'id': 2, 'name': 'Shooter', 'slug': 'shooter...
3  [{'id': 4, 'name': 'Action', 'slug': 'action',...
4  [{'id': 4, 'name': 'Action', 'slug': 'action',...

Adjust to filter only the names of the genres.

In [71]:
genres_data = genres_data.copy()

In [72]:
def GD_extract_names(row):
    genres_list = ast.literal_eval(row)
    names = [genre['name'] for genre in genres_list]
    return ', '.join(names) if names else None

In [73]:
genres_data['genre'] = genres_data['genres'].apply(GD_extract_names)

In [74]:
genres_data.drop('genres', axis=1, inplace=True)

In [75]:
genres_data.head()

                    genre
0       Action, Adventure
1  Action, Adventure, RPG
2         Shooter, Puzzle
3         Action, Shooter
4       Action, Adventure

#### tags_data

In [76]:
tags_data.head()

                                                tags
0  [{'id': 31, 'name': 'Singleplayer', 'slug': 's...
1  [{'id': 31, 'name': 'Singleplayer', 'slug': 's...
2  [{'id': 31, 'name': 'Singleplayer', 'slug': 's...
3  [{'id': 40847, 'name': 'Steam Achievements', '...
4  [{'id': 31, 'name': 'Singleplayer', 'slug': 's...

Adjust to filter only the names of the tags.

In [77]:
tags_data = tags_data.copy()

In [78]:
def TD_extract_names(row):
    tags_list = ast.literal_eval(row)
    names = [tag['name'] for tag in tags_list]
    return ', '.join(names) if names else None

In [79]:
tags_data['tag'] = tags_data['tags'].apply(TD_extract_names)

In [80]:
tags_data.drop('tags', axis=1, inplace=True)
tags_data.rename(columns={'tag': 'tags'}, inplace=True)

In [81]:
tags_data.head()

                                                tags
0  Singleplayer, Steam Achievements, Multiplayer,...
1  Singleplayer, Full controller support, Atmosph...
2  Singleplayer, Steam Achievements, Multiplayer,...
3  Steam Achievements, Multiplayer, Full controll...
4  Singleplayer, Multiplayer, Full controller sup...

#### developers_data

In [82]:
developers_data.head()

                                    developers
0             [Rockstar Games, Rockstar North]
1                             [CD PROJEKT RED]
2                             [Valve Software]
3  [Valve Software, Hidden Path Entertainment]
4                           [Crystal Dynamics]

Remove square brackets.

In [83]:
developers_data = developers_data.copy()

In [84]:
def clean_developers(row):
    cleaned_row = [str(item) for item in row if isinstance(item, str)]
    return ', '.join(cleaned_row)

In [85]:
developers_data['cleaned_developers'] = developers_data['developers'].apply(clean_developers)

In [86]:
developers_data.drop('developers', axis=1, inplace=True)
developers_data.rename(columns={'cleaned_developers': 'developers'}, inplace=True)

In [87]:
developers_data.head()

                                  developers
0             Rockstar Games, Rockstar North
1                             CD PROJEKT RED
2                             Valve Software
3  Valve Software, Hidden Path Entertainment
4                           Crystal Dynamics

#### publishers_data

In [88]:
publishers_data.head()

                 publishers
0          [Rockstar Games]
1          [CD PROJEKT RED]
2  [Electronic Arts, Valve]
3                   [Valve]
4             [Square Enix]

Adjust this also just like the developers one.

In [89]:
publishers_data = publishers_data.copy()

In [90]:
def clean_publishers(row):
    cleaned_row = [str(item) for item in row if isinstance(item, str)]
    return ', '.join(cleaned_row)

In [91]:
publishers_data['cleaned_publishers'] = publishers_data['publishers'].apply(clean_publishers)

In [92]:
publishers_data.drop('publishers', axis=1, inplace=True)
publishers_data.rename(columns={'cleaned_publishers': 'publishers'}, inplace=True)

In [93]:
publishers_data.head()

               publishers
0          Rockstar Games
1          CD PROJEKT RED
2  Electronic Arts, Valve
3                   Valve
4             Square Enix